{% extends 'base.html' %}

{% block main%}
<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Salvation is in knowledge</p>
                        <h1>Books Shop</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>When order over $75</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>24/7 Support</h3>
                        <p>Get support all day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Refund</h3>
                        <p>Get refund within 3 days!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        {% for category in categories %}
                        <li data-filter=".{{category.id}}">{{category.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            {% for book in books %}
            <div class="col-lg-4 col-md-6 text-center {{book.category.id}}">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="{% url 'detail' book.id %}"><img src="{{ book.image.url }}" alt="{{ book.name }}" width="150" height="250"></a>
                    </div>
                    <h3>{{ book.name }}</h3>
                    <p class="product-price"><span>$</span> {{ book.price }} </p>
                    <a href="{% url 'detail' book.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Detail </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<!-- end products -->


<!-- end latest news -->
{% endblock main%}